WOODPECKER_HOST=https://ci.yourdomain.tld
WOODPECKER_FORGEJO_URL=https://git.yourdomain.tld
WOODPECKER_FORGEJO_CLIENT=forgejoclient
WOODPECKER_FORGEJO_SECRET=superforgejosecret
WOODPECKER_AGENT_SECRET=supersecret
